<%= form_for @order do |f| %>
  LineItems:
  <ul>
    <%= f.fields_for :line_items do |line_items_form| %>
      <li>
        <%= line_items_form.label :title %>
        <%= line_items_form.text_field :title %>
      </li>
    <% end %>
  </ul>
<% end %>
